N8N_HOST=
N8N_PROTOCOL=https
N8N_PORT=5678
N8N_EDITOR_BASE_URL=
WEBHOOK_URL=
N8N_PROXY_HOPS=1
N8N_ENCRYPTION_KEY=
GENERIC_TIMEZONE=America/Santiago

DB_TYPE=postgresdb
DB_POSTGRESDB_HOST=
DB_POSTGRESDB_PORT=5432
DB_POSTGRESDB_DATABASE=
DB_POSTGRESDB_USER=
DB_POSTGRESDB_PASSWORD=
DB_POSTGRESDB_SSL_ENABLED=true
DB_POSTGRESDB_SSL_REJECT_UNAUTHORIZED=false

N8N_BASIC_AUTH_ACTIVE=true
N8N_BASIC_AUTH_USER=
N8N_BASIC_AUTH_PASSWORD=
